* {
    font-family: sans-serif;
}

body {
    width: 1024px;
    margin: auto;
}

header
{
    background-color: #333;
    color: white;
}
header h1
{
    float: left;
    font-size: 20px;
    margin-right: 5px;
}
nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav li
{
    float:left;
}
nav ul li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
main
{
    clear: both;
    float: left;
    width: 80%;
}
article
{
    float:left;
    width: 48%;
    padding: 5px;
}
article img
{
    width: 250px;
}
article p:nth-child(2)
{
    font-weight: bold;
    color: blue;
}
aside
{
    float: right;
}
footer
{
    clear:both;
}